[submodule "deps/GSL"]
	path = deps/GSL
	url = https://github.com/MichaelDeets/GSL
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/udis86"]
	path = deps/udis86
	url = https://github.com/vmt/udis86
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "deps/discord-rpc"]
	path = deps/discord-rpc
	url = https://github.com/fedddddd/discord-rpc.git
[submodule "deps/asmjit"]
	path = deps/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "deps/WinToast"]
	path = deps/WinToast
	url = https://github.com/mohabouje/WinToast.git
[submodule "deps/libtomcrypt"]
	path = deps/libtomcrypt
	url = https://github.com/libtom/libtomcrypt
	branch = develop
[submodule "deps/libtommath"]
	path = deps/libtommath
	url = https://github.com/libtom/libtommath
	branch = develop
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = 3.20.x
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib
	branch = develop
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/gsc-tool"]
	path = deps/gsc-tool
	url = https://github.com/xensik/gsc-tool.git
	branch = dev
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/sol2"]
	path = deps/sol2
	url = https://github.com/ThePhD/sol2
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
